<h1>Instruções para redefinir a senha</h1>

<p>Olá {{ name }}!</p>

<p>Geramos uma senha temporária válida por 6 horas, faça login em sua conta usando a senha temporária abaixo para definir uma nova senha.</p>

<p>Senha temporária: {{ temporaryPassword }}</p>

<p>Obrigado,</p>
<p>Equipe Happy</p>
